# <center style = "text-align: center; font-family: 'Georgia', serif; font-size: 36px">üëæ ChatGPyThon üêç</center>

<span style="font-family: Georgia; font-size:16px">In this hands-on exercise, you will be learning how to use chatGPT to assist us in performing 3 tasks:
    
    1. Data Wrangling
    2. Data Visualization
</span>

In [ ]:
# Run this Cell
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Task 1: Read the data

<span style="font-family: Georgia; font-size:16px">Your first task is to load the csv file, "hdb_resale.csv". The dataframe should be named df.
<details>
<summary>Click here for Prompt</summary>
"I have a csv file named "hdb_resale.csv". Using python, read this file as a dataframe named df."</details></span>

In [ ]:
## INSERT CODE BELOW ##

In [ ]:
# run to view the first 5 rows of the data.
display(df)

<span style="font-family: Georgia; font-size:16px">The first 5 rows of the data should look like this:

| month   | town       | flat_type   |   block | street_name       | storey_range   |   floor_area_sqm | flat_model     |   lease_commence_date | remaining_lease    |   resale_price |
|:--------|:-----------|:------------|--------:|:------------------|:---------------|-----------------:|:---------------|----------------------:|:-------------------|---------------:|
| 2017-01 | ANG MO KIO | 2 ROOM      |     406 | ANG MO KIO AVE 10 | 10 TO 12       |               44 | Improved       |                  1979 | 61 years 04 months |         232000 |
| 2017-01 | ANG MO KIO | 3 ROOM      |     108 | ANG MO KIO AVE 4  | 01 TO 03       |               67 | New Generation |                  1978 | 60 years 07 months |         250000 |
| 2017-01 | ANG MO KIO | 3 ROOM      |     602 | ANG MO KIO AVE 5  | 01 TO 03       |               67 | New Generation |                  1980 | 62 years 05 months |         262000 |
| 2017-01 | ANG MO KIO | 3 ROOM      |     465 | ANG MO KIO AVE 10 | 04 TO 06       |               68 | New Generation |                  1980 | 62 years 01 month  |         265000 |
| 2017-01 | ANG MO KIO | 3 ROOM      |     601 | ANG MO KIO AVE 5  | 01 TO 03       |               67 | New Generation |                  1980 | 62 years 05 months |         265000 |
    
Hint: If there is an error, make sure your dataframe is named df

# Task 2: Prepare the Data

## a. Check for missing values

<span style="font-family: Georgia; font-size:16px">The first step before exploring the data, would be to check if there are missing values. Prompt ChatGPT to provide the code to check if there are missing values in the data.
<details>
<summary>Click here for Prompt</summary>    
    "Provide the code to check if my dataframe, df, has any missing values."</details>

In [ ]:
## INSERT CODE BELOW ##

## b. Remove Missing Values

<span style="font-family: Georgia; font-size:16px">There are missing values in our dataframe. One common way to deal with them is to remove the row where there are missing values.
<details>
<summary>Click here for Prompt</summary>    
"Provide the code to remove all rows in my dataframe, df, where there are missing values. Replace the old dataframe, df."</details>

In [ ]:
## INSERT CODE BELOW ##

## c. Check for missing values again

<span style="font-family: Georgia; font-size:16px"> Copy and paste your previous code below to check for missing values again.

In [ ]:
## INSERT CODE BELOW ##

## d. Convert month to DateTime

<span style="font-family: Georgia; font-size:16px">The data is being read as strings and integers. We have a column in the dataframe, month, that can be converted to datetime. This allows us to make use of the datetime to perform time series analysis.
<details>
<summary>Click here for Prompt</summary>    
    My dataframe, df, has a column name 'month' with the format '2017-01'. Provide the code for me to covnert it to datetime format.</details>

In [ ]:
## INSERT CODE BELOW ##

## e. Resale Price per Square Meter

<span style="font-family: Georgia; font-size:16px">Resale price is highly dependent on the size of the flat. Create a calculated field, Resale Price per Square Meter that simply takes the resale_price of the flat and divides it by the floor_area_sqm. Name the new column resale_price_psqm

<details>
<summary>Click here for Prompt</summary>
I have 2 columns, resale_price and floor_area_sqm. I want to create a calculated field, resale_price_psqm that takes the resale_price and divides it by floor_area_sqm.

In [ ]:
## INSERT CODE BELOW ##

# Task 3: Data Visualization

## a. Distribution of Resale Prices

<span style="font-family: Georgia; font-size:16px">Let's view the distribution of prices of the resale HDBs. One method would be to use a histogram. Prompt chatGPT to provide the code to plot a histogram for the distribution of resale flat prices.
    
Note: resale_price not resale_price_psqm

<details>
<summary>Click here for Prompt</summary>
    I have a dataframe, df, with a column 'resale_price'. Plot a histogram of the distribution of resale prices.

In [ ]:
## INSERT CODE BELOW ##

## b. HDB Prices across Time

<span style="font-family: Georgia; font-size:16px">We know that HDB prices are getting extremely high recently. Let's try and observe that trend with a line graph. Plot a line graph with the X-axis being as the month column and y-axis as the average resale_price column.

<details>
<summary>Click here for Prompt</summary>
I have a dataframe, df, with 2 columns, 'month' and 'resale_price'. Plot a line graph to show the average resale price by month.

In [ ]:
## INSERT CODE BELOW ##

# c. HDB Prices by Town

<span style="font-family: Georgia; font-size:16px">Let's view the average hdb prices for each town. Ask chatGPT to plot a bar chart of the average resale price vs by town. X-axis consist of the towns, while the y-axis is the average resale_price. Sort the bars from most expensive to least expensive.

<details>
<summary>Click here for Prompt</summary>
I have a dataframe, df, with 2 columns, resale_price and town. I want to plot a bar chart of the average resale price by town from the most expensive to the least expensive.

In [ ]:
## INSERT CODE BELOW ##

## d. HDB Price per sqm by Town

<span style="font-family: Georgia; font-size:16px">Looking at the graph above, we see that simple looking at the flat value does not paint a full picture. Look at Bishan and Ang Mo Kio. They are next to each other but yet, their resale value is so much different. Let's see if using resale_price_psqm would solve this problem. Ask chatGPT to plot a bar chart of the average resale_price_psqm vs by town. X-axis consist of the towns, while the y-axis is the average resale_price_psqm. Sort the bars from most expensive to least expensive.

<details>
<summary>Click here for Prompt</summary>
    I have a dataframe, df, with 2 columns, resale_price_psqm and town. I want to plot a bar chart of the average resale price by town from the most expensive to the least expensive.

In [ ]:
## INSERT CODE BELOW ##